@charset "utf-8";

/*字体图标*/

@font-face {
	font-family: 'iconfont';
	src: url('../fonts/iconfont.eot');
	src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), url('../fonts/iconfont.woff') format('woff'), url('../fonts/iconfont.ttf') format('truetype'), url('../fonts/iconfont.svg#iconfont') format('svg');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 13px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
	color: white;
}


/*body*/

body {
	background-color: #f7f7f7;
}

p {
	margin: 0;
}


/*顶部*/

.top {
	position: fixed;
	left: 0;
	top: 0;
	height: 48px;
	width: 100%;
	line-height: 48px;
	z-index: 200;
	text-align: center;
	background-color: white;
	/*display: none;*/
}

.top img {
	height: 44px;
}

.back1 a {
	color: #ff485e;
}

.back1 {
	position: fixed;
	top: 8px;
	left: 10px;
	width: 32px;
	height: 32px;
	border-radius: 100%;
	border: 1px solid #cccccc;
	background-color: white;
	z-index: 4;
	padding-right: 2px;
	line-height: 22px;
	text-align: center;
	color: #ff485e;
	font-size: 32px;
}


/*滑动选项卡*/

#swiper-tab .swiper-slide {
	line-height: 2 !important;
	color: #666 !important;
	font-size: 14px !important;
	background: #eee !important;
}


/*#swiper-tab .active-nav {
	background: red !important;
}*/


/*tabs文字居中*/

#swiper-tab {
	text-align: center;
	/*margin-top: 48px;*/
	width: 100%;
	position: fixed;
	top: 48px;
	z-index: 200;
	height: 8rem;
	left: 0;
}

#swiper-tab .active-nav {
	background-color: #F7F7F7;
}

#swiper-tab .active-nav img {
	transform: scale(1.1);
	opacity: 1;
	transition: 0.3s all ease-in-out;
}


/*给con部分加上一个背景色*/

#swiper-con {
	/*background: yellow;*/
	/*height: 300px;*/
	width: 100%;
	margin-top: 148px;
}

.tab-f1 {
	width: 30%;
	padding: 1rem;
}

.swiper-wrapper {
	padding-bottom: 10rem;
}


/*顶部滑动图*/

.f-pic1 {
	width: 100%;
	opacity: 0.7;
	/*margin: 1rem 1rem;*/
}
.slide-bg{
	background-color: rgba(0,0,0,1);
	border-radius:5px ;
}

/*产品列表*/

.f-box img {
	width: 100%;
}

.f-box {
	text-align: center;
	background-color: white;
	padding-bottom: 2rem;
	margin-top: 1rem;
}

.f-intro1 {
	font-size: 1.8rem;
	color: #444;
	margin-top: 1.5rem;
}

.f-sign {
	padding: 0.15rem 0.6rem;
	border: 1px solid #dbdbdb;
	border-radius: 5px;
	font-size: 1.2rem;
	color: #999;
	margin-top: 1.5rem;
}

.f-count {
	color: #bbb;
	font-size: 1rem;
}

.f-c {
	margin-top: 0.5rem;
}

.f-count .iconfont {
	color: #bbb;
}


/*选项卡*/

.am-tabs-bd {
	border: 0;
}

.am-nav>li {
	width: 50%;
	text-align: center;
}

.am-nav-tabs>li.am-active>a,
.am-nav-tabs>li.am-active>a:focus,
.am-nav-tabs>li.am-active>a:hover {
	border: 0;
	background-color: rgba(0,0,0,0);
	
}

.am-nav-tabs>li.am-active>a>span{
	padding: 1rem;
	
	border-bottom: 2px solid #e50051;
	color: #e50051;
}
.am-nav-tabs{
	border: 0;
}
.am-tabs-bd .am-tab-panel{
	padding: 0;
}

.f-activity{
	text-align: center;
	color: #999;
	padding: 4rem;
}
/*底部导航栏*/

/*.bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	background-color: white;
}

.home-1 {
	color: #cccccc;
	font-size: 24px;
}

.home-key {
	text-align: center;
}

.b-active {
	background: -webkit-linear-gradient(top, #FE6C68, #FF2A64);
	-webkit-background-clip: text;
	color: transparent;
}

.home-2 {
	color: white;
	font-size: 30px;
}

.sign {
	position: absolute;
	left: 10px;
	bottom: 35px;
	display: inline-block;
	height: 54px;
	width: 54px;
	border-radius: 100%;
	background: -webkit-linear-gradient(top, #FE6C68, #FF2A64);
	line-height: 54px;
}

.home-r {
	position: relative;
}

.home-r {
	margin-top: 39px;
}

.bottom a {
	color: #333;
}*/


.bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	background-color: white;
}

.home-1 {
	color: #cccccc;
	font-size: 26px;
}

.home-key {
	text-align: center;
}

.b-active {
	background: -webkit-linear-gradient(top, #FE6C68, #FF2A64);
	-webkit-background-clip: text;
	color: transparent;
	text-shadow: 1px 2px 6px rgba(255,77,119,.6);
}
.b-active2 {
	background: -webkit-linear-gradient(top, #FE6C68, #FF2A64);
	-webkit-background-clip: text;
	color: transparent;
}
.home-2 {
	color: white;
	font-size: 30px;
}

.sign {
	position: absolute;
	left: 10px;
	bottom: 35px;
	display: inline-block;
	height: 50px;
	width: 50px;
	border-radius: 100%;
	background: -webkit-linear-gradient(top, #FE6C68, #FF2A64);
	box-shadow: 1px 2px 6px rgba(255,77,119,.6);
	line-height: 54px;
}
.sign .iconfont{
	font-size: 2.7rem ;
	color: white;
}
.home-r {
	position: relative;
}

.home-r {
	margin-top: 39px;
}
.bottom a{
	color: #333;
}
.am-thumbnails>li{
	    padding: 0 .5rem 0.2rem .5rem;
}
