@charset "utf-8";
body {
	background-color: #f7f7f7;
}

.top {
	position: fixed;
	left: 0;
	top: 0;
	height: 48px;
	width: 100%;
	z-index: 10;
	text-align: center;
	background-color: white;
	/*display: none;*/
	position: relative;
}

.back1 {
	position: absolute;
	top: 8px;
	left: 10px;
	width: 32px;
	height: 32px;
	border-radius: 100%;
	/*background: rgba(0,0,0,0.5);*/
	z-index: 4;
	line-height: 22px;
	text-align: center;
	color: #ff485e;
	font-size: 32px;
}

.back1 a {
	color: #ff485e;
}

.top span {
	font-size: 20px;
	line-height: 49px;
}


/*搜索框*/

.search {
	position: relative;
	margin-top: 0.8rem;
}

.search-i {
	position: absolute;
	left: 1rem;
	top: 0.5rem;
}

.input-search {
	width: 100%;
	border-radius: 30px;
	/*height: 2rem;*/
	border: 0;
	padding: 0.8rem 1rem 0.8rem 2.5rem;
}

.input-search:focus {
	border: none;
}

.search-now {
	padding: 1.5rem 2rem;
	font-size: 1.3rem;
}

.search-now span {
	color: #ff485e;
	font-weight: 400;
}


/*热门城市*/

.con-b11 {
	height: 35px;
	text-align: center;
	line-height: 35px;
	font-size: 1.3rem;
	width: 100%;
	border-radius: 30px;
	background-color: #f7f7f7;
}

.con-b1 {
	background-color: white;
	padding: 20px 2rem 10px 2rem;
}

.hot-title {
	margin-bottom: 1rem;
	font-size: 1.3rem;
	color: #666;
	font-weight: 700;
}
.con-b1 a{
	color: #333;
}

/*城市列表*/

.c-title {
	padding: 0.1rem 1rem;
}

.city-box {
	padding: 0 2rem;
	color: #333;
	font-size: 1.3rem;
	background-color: white;
	margin-bottom: -1.5rem;
}

.am-list>li {
	border: 1px solid #f7f7f7;
	border-left: 0;
	border-right: 0;
}

.am-list a {
	color: #333;
}
/*右侧导航栏*/
.r-box{
	position: fixed;
	right: 1.5rem;
	top:30%;
	background-color: white;
	border-radius: 4px;
	border: 1px solid #f7f7f7;
}
.l-sign{
	color: #666;
	text-align: center;
	font-size: 1.4rem;
	padding: 0.3rem 0.4rem;
}
